<form>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>MCQ Quiz</h4>
                        </div>
                    </div>
                    
                    <div class="btn1" id = "question" data-questions="<%= JSON.stringify(questions)%>">

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>